@font-face {
    font-family: 'moonbold';
    src: url('font/moon_bold-webfont.woff2') format('woff2'),
         url('font/moon_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'moonlight';
    src: url('font/moon_light-webfont.woff2') format('woff2'),
         url('font/moon_light-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body{
    font-family: 'moonbold';
    background-color:#121212;
    transition: 1s;
}

.text{
    text-align:center;
    color: rgb(251,211,124);
}

#header{
    text-align:center;
}

.IBtn{
    border:none;
    border-radius: 25px;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color: white;
    background-color:rgba(150, 134, 240, 0.8);
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    box-shadow: 5px 7px #121212;
    transition:0.7s;
}

.IBtn:hover{
    background-color:rgba(41, 69, 194, 0.8);
    color: white;
    box-shadow: 5px 7px #343b7c;
}

.box{
    border:none;
    border-radius: 30px;
    display:inline-block;
    padding: 420px 20px;
    overflow:hidden;
    text-decoration:none;
    color: none;
    background-color: #1e4d64;
    white-space:nowrap;
    box-shadow: 10px 15px rgba(19, 44, 58, 0.26);
}

div {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}